.cover__link {
  outline: 1px solid red;
  margin: 0 auto;
  color: #FFFFFF;
  background-image: url(../../../images/railways.jpg);
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  width: 1184px;
  min-height: 740px;
  height: 100%;
}

.cover__link:before {
  content: "";
  background-color: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 1.5s linear;
}

.cover__link:hover:before {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .cover__link {
    min-height: 640px;
    width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .cover__link {
    min-height: 480px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .cover__link {
    min-height: 200px;
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .cover__link {
    min-height: 200px;
   /*width: 100%;*/
  }
}