.page {
    font-family: 'Inter', Arial, sans-serif;
    outline: 2px solid deeppink;
    background-color: #2A2C2F;
    color: #FFFFFF;
    margin: 0 auto;
    max-width: 1280px;
    min-width: 320px;
    width: 100%;
    overflow: hidden;
}
