.lead {
    margin: 56px auto;
    padding: 0 148px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 984px;
    overflow: hidden;
}

@media screen and (max-width: 1279px) {
    .lead {    
        width: calc(100% - 96px);
        padding: 0;
        }
}

@media screen and (max-width: 1023px) {
    .lead {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 767px) {
    .lead {
        max-width: 100%;
        padding: 0;
        margin-bottom: 0;
    }
}