.cover__subtitle {
    position: relative; /* для прозрачности */
    width: 360px;
    margin: 0;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    text-decoration: none;
}

@media screen and (max-width: 1279px) {
    .cover__subtitle {
        padding-top: 48px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__subtitle {
        padding-top: 48px;
    }
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
    }
}