.lead__title {
    margin: 0 auto;
    padding-top: 0;
    max-width: 720px;
    height: 200px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 1279px) {
    .lead__title {
        padding-top: 0 24px;
        height: 88px;
    }
}

@media screen and (max-width: 1023px) {
    }

@media screen and (max-width: 767px) {
    .lead__title {
        width: 90vw;
        padding: 0 16px;
        font-size: 40px;
        line-height: 1.1;
    }
}