.place__paragraph {
  margin: 0;
  padding-top: 0;
  padding-bottom: 26px;
  font-style: normal;
  font-size: 18px;
  line-height: 1.63;
  letter-spacing: 0em;
  text-align: left;
}

.place__paragraph:last-of-type {
  padding-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    padding: 0 0 25px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    font-size: 16px;
  }
}