.lead__image {
    margin-top: 64px;
    background-image: url(../../../images/__image.jpg);
    width: 984px;
    width: 100%;
    height: 615px;
    border: none;
    outline: 0;
    box-sizing: border-box;
}

