.cover__background {
    margin: 0 auto;
    background-image: url(../../../images/railways.jpg);
    width: 100%;
    box-sizing: border-box;
}

.cover__background:before {
    content: "";
    display: block;
    opacity: 0.3;
    position: absolute;
    color: #2A2C2F;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    transition: opacity 0.4s ease;
}

.cover__background:hover:before {
    opacity: 0.8;
    cursor: pointer;
}


