.cover__background {
    margin: 0 auto;
    background-image: url(../../../images/railways.jpg);
    max-width: 1184px;
    max-height: 740px;
    width: 100%;
}

.cover__background:before {
    content: "";
    display: block;
    opacity: 0.3;
    position: absolute;
    color: #2A2C2F;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    transition: opacity 0.4s ease;
}

.cover__background:hover:before {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 1279px) {
    .cover__background {
        width: 100%;
        min-height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__background {
        width: 100%;
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover__background {
        min-height: 340px;
    }
}

@media screen and (max-width: 425px) {
    .cover__background {
        min-height: 210px;
    }
}