.footer {
    margin: 0 auto;
    padding: 92px 48px 24px;
    display: flex;
    justify-content: space-between;
    color: white;
}

@media screen and (max-width: 1279px) {
    .footer {}
}

@media and screen and (max-width: 1023px) {
    .footer {
        padding: 88px 24px 24px;
    }
}

@media and screen and (max-width: 767px) {
    .footer {}
}

@media and screen and (max-width: 320px) {
    .footer {
        padding: 64px 118px 24px 16px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: left;
    }
}