.footer {
    outline: 1px solid blue;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    color: white;
}

@media and screen and (max-width: 1023px) {
    .footer {
        padding: 0 24px;
    }
}

@media and screen and (max-width: 767px) {
    .footer {
        padding: 0 16px;
        flex-direction: column;
    }
}