.header__lang-links {
    border: 1px solid red;
    margin: 0;
    padding-top: 18px;
   
}

@media screen (max-width: 767px) {
    .header__lang-links {
        padding-top: 14px;
        padding-left: 16px;
    }
}